html, body {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

iframe {
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	outline: none;
}

.toolbar {
  top: 7px;
  right: 6px;
  z-index: 11;
  position: absolute;
}

.toolbar table {
  table-layout: fixed;
  border-spacing: 1px 0;
}

.toolbar table tr td {
  padding: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  transition: 300ms ease all;
}

.toolbar table tr td svg {
  fill: #555;
  margin-top: -2px;
  pointer-events: none;
  vertical-align: middle;
}

.toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

@media (max-width: 600px) {
  .toolbar {
    top: 6px;
    right: 3px;
  }
}

@media (max-width: 500px) {
  #reload {
    background-color: #fff;
  }
	#support, #donation {
		display: none;
	}
}

html[context="webapp"] .toolbar {
  display: none;
}