html {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

body {
  margin: 0;
  padding: 5px;
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: overlay;
  font-family: monospace;
}

.container, .console, .action, .options {
  border: 0;
  padding: 0;
  width: 100%;
  outline: none;
  margin: 0 auto;
}

.container {
  height: 300px;
}

.console {
  margin-top: 8px;
  box-sizing: border-box;
  border: solid 1px rgba(0,0,0,0.1);
}

.options {
  margin: 0;
  padding-bottom: 50px;
}

.options details {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.options summary {
  color: #333;
  height: 42px;
  cursor: pointer;
  font-weight: 600;
  user-select: none;
  text-indent: 10px;
  line-height: 42px;
}

.container #fileio {
  margin: 0;
  float: left;
  height: 100%;
  cursor: crosshair;
  position: relative;
  text-align: center;
  background-size: 256px;
  width: calc(35% - 5px);
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.25s linear;
  border: solid 1px rgba(0,0,0,0.1);
}

.container #fileio[empty] {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAPYQAAD2EBqD+naQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIvSURBVHic7d2xLgRRGEfx79oRvRCFjgQVkn0QNJ5EIRGyhda7SDyHUiOhYAsiNqEk66psqGTEdUfO+XWT7Jf8i5NMscVESOJKtQeUNhjEVLO5vNj2rnnJz/u7108lNnVJU3tAcf2V2Twe37Q9e51JJxGxV2BRp0zVHqC6DADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4CafjTs+Xd7JEQc1xxSRUhM5b7S/i/vIMSywqKqcY3i0c7X98Tz5bNxbjvmUol9nVkE5//AuFiJi4Ve3dEBKefbzs68AOAOAMwA4A4AzADgDgDMAOAOAMwA4A4AzALjJfwEppVFEvqg5poScUi/lvPaD08eIuPvtPfWl2y9PtWb8lcHZylxvPH5ofZji5HDraq/ApE7xFQBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYA13z/k3/u/HLUW19abXv2Mt2MSsyRpO54BxisNnYwXujbAAAAAElFTkSuQmCC') no-repeat center center;
  background-size: 16px;
}

.container #fileio.disabled {
  opacity: 0.50;
}

.container #fileio > span {
  left: 10px;
  color: #555;
  bottom: 10px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  font-family: monospace;
}

.container #fileio img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  margin: auto;
  position: absolute;
  pointer-events: none;
}

.container #fileio img[scaled] {
  max-width: 100%;
  max-height: calc(100% - 90px);
}

.container #fileio img[original] {
  display: none;
}

.container #output {
  margin: 0;
  float: right;
  height: 100%;
  display: flex;
  overflow: hidden;
  text-align: center;
  position: relative;
  align-items: center;
  width: calc(65% - 5px);
  justify-content: center;
  border: solid 1px rgba(0,0,0,0.1);
}

.container #output .inner {
  width: 100%;
  color: #555;
  height: 100%;
  display: flex;
  overflow: auto;
  cursor: no-drop;
  font-size: 12px;
  align-items: center;
  font-family: monospace;
  justify-content: center;
  max-height: calc(100% - 90px);
}

.container #output canvas {
  display: none;
  max-width: 100%;
  max-height: 100%;
}

.container #output .inner[loading] img {
  max-height: 16px;
}

.container #output .inner table {
  margin: auto;
  border-spacing: 0;
}

.container #output .inner table tr td {
  padding: 1px;
}

.container #output .inner img {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.container #fileio .arrow {
  right: 1px;
  bottom: 1px;
  width: 42px;
  height: 42px;
  line-height: 42px;
  position: absolute;
  text-align: center;
}

.container #fileio .arrow svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

.container #fileio input[type='file'] {
  width: 100%;
  color: #333;
  height: 100%;
  padding: 10px;
  font-size: 12px;
  cursor: crosshair;
  box-sizing: border-box;
  font-family: monospace;
}

.download {
  margin: 0;
  border: 0;
  padding: 0;
  right: 1px;
  bottom: 1px;
  width: 42px;
  color: #777;
  z-index: 10;
  height: 42px;
  font-size: 20px;
  cursor: pointer;
  line-height: 42px;
  user-select: none;
  text-align: center;
  position: absolute;
  transition: 300ms ease all;
}

.download:hover {
  background-color: rgba(0,0,0,0.05);
}

.download a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}

.download a svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

.action {
  left: 0;
  bottom: 0;
  position: fixed;
}

.action input[type='button'] {
  margin: 0;
  border: 0;
  padding: 0;
  color: #fff;
  width: 100%;
  height: 48px;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  vertical-align: middle;
  font-family: monospace;
  text-transform: uppercase;
  background-color: #85b127;
  transition: 300ms ease all;
}

.action input[type='button']:hover {
  background-color: #789f24;
}

.console pre {
  border: 0;
  margin: 0;
  color: #333;
  width: 100%;
  height: 82px;
  font-size: 12px;
  overflow-y: auto;
  min-height: 82px;
  max-height: 82px;
  line-height: 22px;
  padding: 5px 10px;
  word-wrap: break-word;
  white-space: pre-line;
  box-sizing: border-box;
  font-family: monospace;
}

#options {
  padding: 0;
  display: flex;
  flex-flow: row;
  box-sizing: border-box;
}

#options .left {
  flex: 1;
  padding-right: 10px;
}

#options .right {
  flex: 1;
  padding-left: 10px;
}

#options select, #options input[type='number'] {
  padding: 0;
  color: #333;
  width: 128px;
  height: 42px;
  float: right;
  outline: none;
  font-size: 12px;
  background: #fff;
  font-weight: 600;
  text-indent: 5px;
  vertical-align: middle;
  font-family: monospace;
  box-sizing: border-box;
  border: solid 1px rgba(0,0,0,0.1);
}

label:has(:disabled) {
  opacity: 0.5;
}

#options select option[mode='canvas'] {
  display: none;
}

html[mode='canvas'] #options select option[mode='canvas'] {
  display: block;
}

#options label {
  padding: 0;
  width: 100%;
  color: #333;
  height: 42px;
  font-size: 12px;
  text-align: left;
  margin: 1px auto;
  text-indent: 5px;
  font-weight: 600;
  line-height: 42px;
  user-select: none;
  display: inline-block;
  box-sizing: border-box;
  font-family: monospace;
}

#options label[for='preview'] {
  float: left;
  width: 150px;
  margin: 5px 0;
  cursor: pointer;
}

#options .custom {
  gap: 5px;
  display: flex;
  flex-flow: column;
}

#options input[type='checkbox'] {
  margin: -1px 0 0 5px;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .container {
    height: 256px;
  }
  .container #fileio {
    width: 100%;
    height: 42px;
    margin-bottom: 5px;
    background-image: none !important;
  }
  .container #fileio img[scaled] {
    margin-right: 0;
  }
  .container #fileio input[type='file'] {
    width: 100%;
    height: 100%;
  }
  .container #fileio > span {
    display: none;
  }
  .container #fileio .arrow {
    display: none;
  }
  .container #output {
    margin: 0;
    float: none;
    width: 100%;
    height: 208px;
    align-items: baseline;
  }
  .container #output .inner {
    margin-top: 20px;
    max-height: calc(100% - 48px);
  }
  .options #options {
    flex-flow: column;
  }
  .options #options .right {
    padding-left: 0;
  }
  .options #options input[type='checkbox'] {
    float: right;
    margin: 15px;
    vertical-align: middle;
  }
  .options #options input[type='button'] {
    margin-top: 5px;
  }
  .options #options label[for='preview'],
  .options #options input[type='button'] {
    width: 100%;
  }
  .options #options label[for='preview'] {
    height: auto;
  }
}

@media (max-width: 400px) {
  #options select, #options input[type='number'] {
    width: 68px;
  }
}

html[context='webapp'] .toolbar {
  display: none;
}