html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

body {
  margin: 0;
  padding: 5px;
  font-size: 13px;
  overflow-x: hidden;
  overflow-y: overlay;
  font-family: monospace;
}

.container, .console, .action, .options {
  border: 0;
  padding: 0;
  width: 100%;
  outline: none;
  margin: 0 auto;
}

.container {
  height: 300px;
}

.console {
  margin-top: 8px;
  box-sizing: border-box;
  border: solid 1px rgba(0,0,0,0.1);
}

.options {
  margin: 0;
  padding-bottom: 50px;
}

.options details {
  border: 0;
  padding: 0;
  width: 100%;
  margin: 1px auto;
  box-sizing: border-box;
}

.options details[open] details[open] summary {
  background-color: #f1f1f1;
}

.options summary, .options .summary {
  color: #333;
  height: 42px;
  list-style: none;
  user-select: none;
  text-indent: 10px;
  line-height: 42px;
  background-color: #fff;
}

.options .summary {
  width: 100%;
  margin: 1px auto;
}

.options summary div,
.options .summary div {
  cursor: pointer;
}

.options .title, .options summary div, .options .summary div {
  display: inline-block;
}

.options .summary svg {
  margin: 0;
  fill: #333;
  margin-left: 1px;
  margin-right: -13px;
  pointer-events: none;
  vertical-align: middle;
}

.options summary svg {
  margin: 0;
  fill: #333;
  cursor: pointer;
  margin-left: 5px;
  margin-right: -1px;
  vertical-align: middle;
}

.options > details > summary {
  font-weight: 600;
}

html[mode='canvas'] .options .summary[mode='canvas'] {
  font-weight: 600;
}

html[mode='ai-client'] .options details[mode='ai-client'] summary {
  font-weight: 600;
}

html[mode='ai-server'] .options details[mode='ai-server'] summary {
  font-weight: 600;
}

.container #fileio {
  margin: 0;
  float: left;
  height: 100%;
  cursor: crosshair;
  position: relative;
  text-align: center;
  background-size: 256px;
  width: calc(35% - 5px);
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.25s linear;
  border: solid 1px rgba(0,0,0,0.1);
}

.container #fileio[empty] {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAPYQAAD2EBqD+naQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIvSURBVHic7d2xLgRRGEfx79oRvRCFjgQVkn0QNJ5EIRGyhda7SDyHUiOhYAsiNqEk66psqGTEdUfO+XWT7Jf8i5NMscVESOJKtQeUNhjEVLO5vNj2rnnJz/u7108lNnVJU3tAcf2V2Twe37Q9e51JJxGxV2BRp0zVHqC6DADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4AwAzgDgDADOAOAMAM4A4CafjTs+Xd7JEQc1xxSRUhM5b7S/i/vIMSywqKqcY3i0c7X98Tz5bNxbjvmUol9nVkE5//AuFiJi4Ve3dEBKefbzs68AOAOAMwA4A4AzADgDgDMAOAOAMwA4A4AzALjJfwEppVFEvqg5poScUi/lvPaD08eIuPvtPfWl2y9PtWb8lcHZylxvPH5ofZji5HDraq/ApE7xFQBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYAZwBwBgBnAHAGAGcAcAYA13z/k3/u/HLUW19abXv2Mt2MSsyRpO54BxisNnYwXujbAAAAAElFTkSuQmCC') no-repeat center center;
  background-size: 16px;
}

.container #fileio.disabled {
  opacity: 0.50;
}

.container #fileio > span {
  left: 10px;
  color: #555;
  bottom: 10px;
  font-size: 13px;
  text-align: center;
  position: absolute;
  font-family: monospace;
}

.container #fileio img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  margin: auto;
  position: absolute;
  pointer-events: none;
}

.container #fileio img[scaled] {
  max-width: 100%;
  max-height: calc(100% - 90px);
}

.container #fileio img[original] {
  display: none;
}

.container #output {
  margin: 0;
  float: right;
  height: 100%;
  display: flex;
  overflow: hidden;
  text-align: center;
  position: relative;
  align-items: center;
  width: calc(65% - 5px);
  justify-content: center;
  border: solid 1px rgba(0,0,0,0.1);
}

.container #output .inner {
  width: 100%;
  color: #333;
  height: 100%;
  display: flex;
  overflow: auto;
  cursor: no-drop;
  font-size: 13px;
  font-weight: 600;
  align-items: center;
  font-family: monospace;
  justify-content: center;
  max-height: calc(100% - 90px);
}

.container #output canvas {
  display: none;
  max-width: 100%;
  max-height: 100%;
}

.container #output .inner[loading] img {
  max-height: 16px;
}

.container #output .inner table {
  margin: auto;
  border-spacing: 0;
}

.container #output .inner table tr td {
  padding: 1px;
}

.container #output .inner img {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.container #fileio .arrow {
  right: 1px;
  bottom: 1px;
  width: 42px;
  height: 42px;
  line-height: 42px;
  position: absolute;
  text-align: center;
}

.container #fileio .arrow svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

.container #fileio input[type='file'] {
  width: 100%;
  color: #333;
  height: 100%;
  padding: 10px;
  font-size: 13px;
  cursor: crosshair;
  box-sizing: border-box;
  font-family: monospace;
}

.download {
  margin: 0;
  border: 0;
  padding: 0;
  right: 1px;
  bottom: 1px;
  width: 42px;
  color: #777;
  z-index: 10;
  height: 42px;
  font-size: 20px;
  cursor: pointer;
  line-height: 42px;
  user-select: none;
  text-align: center;
  position: absolute;
  transition: 300ms ease all;
}

.download:hover {
  background-color: rgba(0,0,0,0.05);
}

.download a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}

.download a svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

.action {
  left: 0;
  bottom: 0;
  position: fixed;
}

.action input[type='button'] {
  margin: 0;
  border: 0;
  padding: 0;
  color: #fff;
  width: 100%;
  height: 48px;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  vertical-align: middle;
  font-family: monospace;
  text-transform: uppercase;
  background-color: #85b127;
  transition: 300ms ease all;
}

.action input[type='button']:hover {
  background-color: #789f24;
}

.console pre {
  border: 0;
  margin: 0;
  color: #333;
  width: 100%;
  height: 82px;
  padding: 10px;
  font-size: 13px;
  overflow-y: auto;
  min-height: 82px;
  max-height: 82px;
  line-height: 22px;
  user-select: none;
  word-wrap: break-word;
  white-space: pre-line;
  box-sizing: border-box;
  font-family: monospace;
}

#options {
  display: flex;
  height: 100vh;
  padding: 0 10px;
  flex-flow: column;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  max-height: calc(100vh - 492px);
}

#options select, #options input[type='number'] {
  padding: 0;
  color: #333;
  width: 128px;
  height: 42px;
  float: right;
  outline: none;
  font-size: 13px;
  background: #fff;
  font-weight: 600;
  text-indent: 10px;
  vertical-align: middle;
  font-family: monospace;
  box-sizing: border-box;
  border: solid 1px rgba(0,0,0,0.25);
}

label:has(:disabled) {
  opacity: 0.5;
}

#options select option[mode='canvas'] {
  display: none;
}

#options select option[mode='ai-client'] {
  display: none;
}

html[mode='canvas'] #options select option {
  display: block;
}

html[mode='ai-client'] #options select option[mode='ai-client'] {
  display: block;
}

#options label {
  padding: 0;
  color: #333;
  height: 42px;
  cursor: default;
  font-size: 13px;
  text-align: left;
  margin: 1px auto;
  text-indent: 10px;
  line-height: 42px;
  user-select: none;
  display: inline-block;
  box-sizing: border-box;
  font-family: monospace;
  width: calc(100% - 10px);
}

#options label  svg {
  margin: 0;
  fill: #333;
  margin-left: -4px;
  margin-right: -5px;
  pointer-events: none;
  vertical-align: middle;
}

#options details label {
  text-indent: 30px;
}

#options label[for='preview'] {
  float: left;
  width: 150px;
  margin: 5px 0;
  cursor: pointer;
}

#options .custom {
  gap: 5px;
  display: flex;
  flex-flow: column;
}

#options .note {
  margin: 0;
  padding: 0;
  color: #333;
  user-select: none;
  line-height: 32px;
  text-indent: 30px;
}

#options .note a {
  color: #0058ff;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  font-family: monospace;
}

#options input[type='checkbox'] {
  float: right;
  outline: none;
  margin: 15px 15px 0 0;
}

#options input[type='text'], #options input[type='password'] {
  padding: 0;
  color: #333;
  width: 100%;
  height: 48px;
  outline: none;
  font-size: 13px;
  overflow: hidden;
  font-weight: 600;
  text-indent: 20px;
  padding-right: 50px;
  letter-spacing: 1px;
  box-sizing: border-box;
  font-family: monospace;
  border: solid 1px rgba(0,0,0,0.25);
}

#options input[type='text']:placeholder-shown, 
#options input[type='password']:placeholder-shown {
  border-color: red;
}

#options .apikey {
  border: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  margin: auto;
  margin-top: 15px;
  position: relative;
  max-width: calc(100% - 90px);
}

#options .apikey[state="disabled"] {
  opacity: 0.5;
  pointer-events: none;
}

#options .apikey .toggle {
  top: 5px;
  right: 5px;
  display: flex;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  background: transparent;
  justify-content: center;
  transition: 300ms ease all;
}

#options .apikey .toggle svg {
  fill: #555;
  display: none;
  pointer-events: none;
  vertical-align: middle;
}

#options .apikey .toggle[status='show'] .show {
  display: block;
}

#options .apikey .toggle[status='hide'] .hide {
  display: block;
}

@media (max-width: 600px) {
  .container {
    height: 256px;
  }
  .container #fileio {
    width: 100%;
    height: 42px;
    margin-bottom: 5px;
    background-image: none !important;
  }
  .container #fileio img[scaled] {
    margin-right: 0;
  }
  .container #fileio input[type='file'] {
    width: 100%;
    height: 100%;
  }
  .container #fileio > span {
    display: none;
  }
  .container #fileio .arrow {
    display: none;
  }
  .container #output {
    margin: 0;
    float: none;
    width: 100%;
    height: 208px;
    align-items: baseline;
  }
  .container #output .inner {
    margin-top: 20px;
    max-height: calc(100% - 48px);
  }
  .options .title {
    width: calc(100% - 90px);
  }
  #options {
    max-height: calc(100vh - 450px);
  }
  #options select, #options input[type='number'] {
    width: 68px;
  }
  .options summary div, .options .summary div {
    width: calc(100% - 68px);
  }
  .options .title, .options summary div, .options .summary div {
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    text-overflow: ellipsis;
  }
}

html[context='webapp'] .toolbar {
  display: none;
}